.btn-custom,
.btn-custom:hover {
  background-color: #5ECE7B;
  border-radius: 0;
  color: white;
  font-weight: 500;
  padding: 0.5rem;
}

nav .navbar-nav a {
  padding: 0.5rem 0;
}

nav .navbar-nav a.nav-link.active  {
  color: #5ECE7B;
  border-bottom: solid 3px #5ECE7B;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 100px;
  max-width: 100px;
  z-index: 1;
  border-radius: 0px;
}

.dropdown-item:active {
  background-color: #5ECE7B;
}

div.modal-content {
  height: min-content;
  width: 19rem;
  margin: auto;
  border-radius: 0%;
  margin-top: 1.5rem;
  border: 0px;
  right: 1.5rem;
}

div.modal-dialog {
  float: right;
}

.product-card {
  box-shadow: 0px 0px 10px 12px lightgray;
}

.modal-backdrop {
  top: 3.5rem;
}

.show.dropdown-toggle::after {
  transform: rotate(180deg);
}

.cart-image {
  width: 12rem;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .cart-image {
    height: 50%;
  }
}

.badge {
  height: 1rem;
  width: 1rem;
  right: -8px;
}

@media only screen and (max-width: 768px) {
  .badge {
    right: -15px;
  }
}

@media only screen and (max-width: 768px) {
  .order {
    width: 150px;
  }
}